.leagues-page {
    padding: 20px;
    color: black;
  }
  
  .leagues-page.filters {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-input,
  .filter-select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
  }
  
  .filter-input:focus,
  .filter-select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .filter-select {
    cursor: pointer;
    appearance: none;
    background: #fff url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23000' d='M2 0L0 2h4z'/%3E%3C/svg%3E")
      no-repeat right 10px center;
    background-size: 10px;
  }
  
  
  .leagues-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .leagues-table th,
  .leagues-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .leagues-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .leagues-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .leagues-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .pagination-btn {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-btn:hover {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .pagination-btn.active {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
  }
  
  .pagination-btn:disabled {
    background-color: #eaeaea;
    color: #ccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .leagues-page{
      flex-direction: column;
    }
  
    .filters,
    .leagues-table,
    .pagination{
      width: 100%;
      margin-bottom: 20px;
    }
  }